In [171]:
import pandas as pd
import numpy as np

In [172]:
# data extraction
data_summer = pd.read_excel("data/2022-2023_Summer.xlsx", "Summer 2022 Structures")
data_fall = pd.read_excel("data/2022-2023_Fall.xlsx", "Fall 2022 Structures")
data_winter = pd.read_excel("data/2022-2023_Winter.xlsx", "By Structure")
data_spring = pd.read_excel("data/2022-2023_Spring.xlsx", "ByStructurePivotTable")

In [173]:
def change_structure(df, start):
    start_index = df[df['Structure'] == start].index[0]
    end_index = df[df['Structure'] == str(start + " Total")].index[0]
    df.loc[start_index:end_index, 'Structure'] = df.loc[start_index:end_index, 'Structure'].fillna(start)

In [174]:
# summer
# getting the column name
index_column = data_summer.iloc[4, :].tolist()

# exclude the old header
data_summer = data_summer.iloc[5:, :]
data_summer.columns = ["Structure"] + index_column[1:]

# change nan into structure
change_structure(data_summer, "Athena")
change_structure(data_summer, "Campus Point East")
change_structure(data_summer, "Campus Point West")
change_structure(data_summer, "Gilman")
change_structure(data_summer, "Hopkins")
change_structure(data_summer, "Medical Center Hillcrest")
change_structure(data_summer, "Nuevo West/Vela")
change_structure(data_summer, "Pangea")
change_structure(data_summer, "Scholars")
change_structure(data_summer, "South Parking Structure")
change_structure(data_summer, "Torrey Pines Center North")
data_summer = data_summer.reset_index(drop=True)
data_summer

,Structure,SpaceType,Sum of Inventory,Sum of 8am,Sum of 9am,Sum of 10am,Sum of 11am,Sum of 12pm,Sum of 1pm,Sum of 2pm,Sum of 3pm,Sum of 4pm,Sum of 5pm,Min of EmptyCalc,Sum of OccupiedCalc,Sum of PercentCalc
0,Athena,A,187,125,105,60,61,52,51,38,63,67,85,38,149,0.796791
1,Athena,Accessible,82,58,53,36,36,42,38,39,54,51,59,36,46,0.560976
2,Athena,Allocated,45,23,20,16,18,18,14,12,15,21,26,12,33,0.733333
3,Athena,B,653,332,260,217,204,216,194,196,205,256,305,194,459,0.70291
4,Athena,Reserved,6,6,6,5,5,5,5,5,5,5,5,5,1,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Torrey Pines Center North,Service Yard,1,1,1,1,1,1,1,1,1,1,1,1,0,0
86,Torrey Pines Center North,UC Vehicle,7,3,3,3,3,3,3,3,3,3,3,3,4,0.571429
87,Torrey Pines Center North,Visitor,19,14,12,13,12,14,11,13,13,16,19,11,8,0.421053
88,Torrey Pines Center North Total,NaN,665,511,489,488,489,500,505,520,539,550,588,488,177,0.266165
89,Grand Total,NaN,11470,6273,5268,4350,4072,4106,4182,4232,4909,5792,6662,4072,7398,0.644987

In [175]:
# fall
# getting the column name

index_column = data_fall.iloc[4, :].tolist()

# exclude the old header
data_fall = data_fall.iloc[5:, :]
data_fall.columns = ["Structure"] + index_column[1:]

# change nan into structure
change_structure(data_fall, "Athena")
change_structure(data_fall, "Campus Point East")
change_structure(data_fall, "Campus Point West")
change_structure(data_fall, "Gilman")
change_structure(data_fall, "Hopkins")
change_structure(data_fall, "Medical Center Hillcrest")
change_structure(data_fall, "Nuevo West/Vela")
change_structure(data_fall, "Pangea")
change_structure(data_fall, "Scholars")
change_structure(data_fall, "South Parking Structure")
change_structure(data_fall, "Torrey Pines Center North")
data_fall = data_fall.reset_index(drop=True)
data_fall

,Structure,SpaceType,Sum of Inventory,Sum of 8am,Sum of 9am,Sum of 10am,Sum of 11am,Sum of 12pm,Sum of 1pm,Sum of 2pm,Sum of 3pm,Sum of 4pm,Sum of 5pm,Min of EmptyCalc,Sum of OccupiedCalc,Sum of PercentCalc
0,Athena,A,187,129,91,71,60,52,68,69,75,107,134,52,135,0.721925
1,Athena,Accessible,81,53,46,31,35,37,31,36,44,55,67,31,50,0.617284
2,Athena,Allocated,45,22,15,18,15,21,11,9,12,21,28,9,36,0.8
3,Athena,B,655,334,262,220,194,193,176,177,237,321,380,176,479,0.731298
4,Athena,Reserved,6,5,5,5,5,5,5,5,5,6,6,5,1,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Torrey Pines Center North,Service Yard,1,1,1,1,1,1,1,1,1,1,1,1,0,0
86,Torrey Pines Center North,UC Vehicle,7,2,2,2,2,2,2,2,2,2,2,2,5,0.714286
87,Torrey Pines Center North,Visitor,19,14,15,11,10,10,11,12,13,15,16,10,9,0.473684
88,Torrey Pines Center North Total,NaN,665,494,470,460,454,456,473,480,493,529,554,454,211,0.317293
89,Grand Total,NaN,11347,4168,2852,1910,1672,1612,1740,2079,2663,3628,4493,1612,9735,0.857936

In [176]:
# winter
# getting the column name

index_column = data_winter.iloc[3, 1:].tolist()

# exclude the old header
data_winter = data_winter.iloc[4:, 1:]
data_winter.columns = ["Structure"] + index_column[1:]

# change nan into structure
change_structure(data_winter, "Arbor")
change_structure(data_winter, "Athena")
change_structure(data_winter, "Bachman")
change_structure(data_winter, "Campus Point East")
change_structure(data_winter, "Campus Point West")
change_structure(data_winter, "Gilman")
change_structure(data_winter, "Hopkins")
change_structure(data_winter, "Nuevo West/Vela")
change_structure(data_winter, "Pangea")
change_structure(data_winter, "Scholars")
change_structure(data_winter, "South")
change_structure(data_winter, "Torrey Pines Center North")
change_structure(data_winter, "Torrey Pines Center South")
data_winter = data_winter.reset_index(drop=True)
data_winter

,Structure,Space Type,Space Subtype,Parking Spaces,8am,9am,10am,11am,12pm,1pm,2pm,3pm,4pm,5pm,Empty Spaces,Occupied Spaces,% Occupied
0,Arbor,A,NaN,226,60,58,50,50,46,46,45,45,92,95,45,181,0.800885
1,Arbor,Accessible,NaN,15,1,1,0,0,0,0,2,2,3,3,0,15,1
2,Arbor,Allocated,Transportation Office Vehicle,2,1,1,1,1,1,1,1,1,1,1,1,1,0.5
3,Arbor,Electric Vehicle,NaN,12,0,0,1,1,4,6,3,3,10,10,0,12,1
4,Arbor,Reserved,NaN,19,13,15,13,13,15,15,13,13,17,17,13,6,0.315789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,Torrey Pines Center South,UC Vehicle,NaN,15,9,6,10,8,10,12,10,9,9,9,6,9,0.6
126,Torrey Pines Center South,UC Vehicle,UC Cart,6,3,3,0,0,0,0,0,0,0,0,0,6,1
127,Torrey Pines Center South,UC Vehicle,UC Electric Cart,6,1,1,0,0,0,0,0,0,0,0,0,6,1
128,Torrey Pines Center South,Visitor,NaN,17,7,8,1,7,4,3,4,5,6,8,1,16,0.941176
129,Torrey Pines Center South Total,NaN,NaN,466,271,245,192,224,226,231,225,251,278,312,192,274,0.587983

In [177]:
# spring
# getting the column name

index_column = data_spring.iloc[1, :].tolist()

# exclude the old header
data_spring = data_spring.iloc[2:, :]
data_spring.columns = ["Structure"] + index_column[1:]

# change nan into structure
change_structure(data_spring, "Arbor")
change_structure(data_spring, "Athena")
change_structure(data_spring, "Bachman")
change_structure(data_spring, "Campus Point East")
change_structure(data_spring, "Campus Point West")
change_structure(data_spring, "Gilman")
change_structure(data_spring, "Hopkins")
change_structure(data_spring, "Nuevo West/Vela")
change_structure(data_spring, "Pangea")
change_structure(data_spring, "Scholars")
change_structure(data_spring, "South")
change_structure(data_spring, "Torrey Pines Center North")
change_structure(data_spring, "Torrey Pines Center South")
data_spring = data_spring.reset_index(drop=True)
data_spring

,Structure,Space Type,Sum of Spring 23,Sum of 8am,Sum of 9am,Sum of 10am,Sum of 11am,Sum of 12pm,Sum of 1pm,Sum of 2pm,Sum of 3pm,Sum of 4pm,Sum of 5pm,Sum of Empty Spaces,Sum of Occupied Spaces,Sum of % Occupied
0,Arbor,A,226,51,40,39,38,35,37,40,39,75,155,35,191,0.845133
1,Arbor,Accessible,15,1,2,2,2,1,1,1,1,2,8,1,14,0.933333
2,Arbor,Allocated,1,1,1,1,1,0,0,0,0,0,0,0,1,1
3,Arbor,Electric Vehicle,12,0,0,0,0,0,0,2,2,5,7,0,12,1
4,Arbor,Reserved,19,8,8,12,12,11,11,11,11,14,14,8,11,0.578947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Torrey Pines Center South,S,130,40,36,28,25,24,23,25,32,45,82,23,107,0.823077
105,Torrey Pines Center South,UC Vehicle,27,18,18,7,7,16,9,9,9,9,8,7,20,0.740741
106,Torrey Pines Center South,Visitor,17,5,2,5,4,6,5,3,5,12,10,2,15,0.882353
107,Torrey Pines Center South Total,NaN,466,270,226,202,159,157,165,177,210,265,321,157,309,0.66309
108,Grand Total,NaN,11097,5055,3452,2215,1530,1433,1423,1474,2036,3233,4989,1423,9674,0.871767